doctype html
html
    head
        meta(charset='UTF-8')
        title Bayou
        link(rel='stylesheet', href='/style.css')

<a href="/">Back to Bayou Home</a>

<hr>

h2 About Bayou

h4 Philosophy

p Many 'internet of things' infrastructure is based on business models that incentivize the data hosting service to 'rent' your data back to you, or mine your data for other purposes.  

p The motivation behind Bayou is to provide a sensor data archiving tool that allows individuals and communities to have more control over their sensor infrastructure.  

p There is always a risk when using any hosting service;  it means that someone else is in control of your data. A promising approach for mitigating this risk is to use fully peer-to-peer data protocls (e.g. hyper) for data archiving and sharing. 

p We are experimenting with such protocols; meanwhile, our current strategy is to: (1) make the data as easy to access as possible, and (2) make the data server infrastructure itself as easy to reproduce as possible, in case folks would prefer to host their own data.

h4 Bayou Source Code

p Bayou is a simple NodeJS + Express application, running a PostgreSQL database.

p If you'd like to replicate the Bayou server on your own computer or hosting service, the source code is <a href="https://github.com/edgecollective/habitat">here</a> (it's currently called 'habitat'). 

h4 Funding

p Edge Collective and PVOS are trying to fund Bayou development and maintenance through donations and pay-as-you-can arrangements.  To contribute, check out Edge Collective's page on Open Collective, <a href="https://opencollective.com/edgecollective">here</a>



