<a href="/">Bayou Home</a>

h1 You've created a new feed!

h2 Feed Details

p Feed name: #{feed_name}
p Public Key: #{public_key}
p Private Key: #{private_key}

p Link to the feed data (CSV, JSON, Graphs) is <a href="/">here</a>.

h2 Sending data to your new feed

h2 Getting data from your new feed

h2 Analyzing data from your feed

